body {
    background-color: #fffbf7;
}

h1 {
    color: #025157;
    font-size: 60px;
    margin-bottom: 24px;
}

h3 {
    color: #46484c;
    font-size: 20px;
    margin-bottom: 30px;
}

p {
    color: #8b8b8bcc;
    margin-top: 15px;
}

button {
    background-color: #025157;
    color: #fff;
   
}
